@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-default {
    @apply border border-solid border-border-color;
  }
  .border-input {
    @apply border border-solid border-border-input-color;
  }
  .login-item {
    @apply flex items-center justify-start py-2 px-4 border-default my-4 cursor-pointer;
  }
  .input-container {
    @apply flex flex-col items-start justify-start mb-2;
  }
  .input-item {
    @apply border-input bg-bg-input-color outline-none rounded-sm px-4 py-2 w-full;
  }
  .input-item-error {
    @apply input-item border-red-500 text-red-500;
  }
  .center {
    @apply fixed top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] z-50;
  }
  .overlay {
    @apply fixed top-0 left-0 w-full h-full z-40 bg-black opacity-50;
  }
  .btn-primary {
    @apply rounded-md font-bold w-full py-2 text-white bg-primary-color hover:bg-hover-primary-color;
  }
  .btn-disabled {
    @apply rounded-md font-bold w-full py-2 cursor-not-allowed text-text-disabled-color bg-bg-disabled-color;
  }
  .error-message {
    @apply text-red-500 text-12;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 8px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
